Find the number of square numbers less than or equal to a specific number(n).

* Square numbers = 1, 4, 9, 16, 25 .....

Method 1:

In [21]:
def method1(n):
  root_value = n**0.5
  return (int(root_value//1))

Method 2:

In [22]:
def method2(n):
  answer, i = 0, 1
  while (i**2 <= n):
    i += 1
    answer += 1
  return (answer)

n = 10 => 1, 4, 9 => 3

In [23]:
print (method1(10))
print (method2(10))

3
3

n = 16 => 1, 4, 9, 16 => 4

In [24]:
print (method1(16))
print (method2(16))

4
4

n = 25 => 1, 4, 9, 16, 25 => 5

In [25]:
print (method1(25))
print (method2(25))

5
5

n = 100 => 1, 4, 9, 16, 25, 36, 49, 64, 81, 100 => 10

In [26]:
print (method1(100))
print (method2(100))

10
10

n = 10,000 => 10,000 = 100 * 100 => 100

In [27]:
print (method1(10000))
print (method2(10000))

100
100